@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

h1 {
  font-family: 'Satisfy';
  font-size: 20pt;
  color: #ad0079;
}

body {
  background-color: #fff2fc;
}

#nav {
  background-color: #ffd9f6;
}

#sidebar {
  border-color: #ad0079;
  border-width: 3px;
  box-shadow: 5px 5px 5px black;
}